@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

main {
    background-color: var(--Very-light-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    border-radius: .8rem;
    overflow: hidden;
}

section {
    width: 20rem;
    padding: 4rem 3rem;
}

.sedan-section {
    background-color: var(--Bright-orange);
}

.sedan-section button {
    color: var(--Bright-orange);
}

.suv-section {
    background-color: var(--Dark-cyan);
}

.suv-section button {
    color: var(--Dark-cyan);
}

.luxury-section {
    background-color: var(--Very-dark-cyan);
}

.luxury-section button {
    color: var(--Very-dark-cyan);
}

section h2 {
    margin: 2rem 0;
    font-size: 2.5em;
    font-family: 'Big Shoulders Display', sans-serif;
    color: var(--Very-light-gray);
    text-transform: uppercase;
}

section p {
    color: var(--Transparent-white);
    line-height: 1.5em;
    margin-bottom: 5rem;
}

section button {
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    border: solid .15rem var(--Very-light-gray);
    background: var(--Very-light-gray);
    text-decoration: none;
    transition: 200ms;
    cursor: pointer;
}

section button:hover {
    background: transparent;
    color: var(--Very-light-gray);
}

.attribution {
    font-size: .8em;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:920px) {

    main {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .container {
        flex-direction: column;
    }
    section{
        padding: 2.5rem;
    }

    section p {
        margin-bottom: 2.5rem;
    }
}